@import "./pages/_edit";
@import "./pages/_home";
@import "./components/_product";


body {
	background: linear-gradient(to right, #b6c8b6, #34324c);
}

body.adam, body.adam .price {
  background:#3F16FF;
}
body.andrew, body.andrew .price {
  background:#46EA3F;
}
