body.edit {
  width: 500px;
  margin:0 auto;

  form {
    margin: 10px 1px;
    border:1px solid black;
    padding: 15px;
  }

  input {
    clear: left;
    width: 95%;
    margin-bottom: 10px;
  }
}
