body.home {
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
  }
  .header {
    margin: 0 auto;
    width: 500px;

    h1 {
      color: white;

      span: {
        font-size: 200%;
      }
    }
  }
}
