.wrapper {
	display: flex;
}

.box {
	flex: 1;
	left: 100px;
	top: 100px;
	margin: 0px 0px 20px 0px;	
	height: 240px;
	max-width: 240px;
	border: solid #000000 2px;
}

.box1 { 
	background-image: url(images/fitbit.jpeg);
	background-size: 240px 240px;
	background-repeat: no-repeat;
}

.box2 {
	background-image: url(images/watch.jpg);
	background-size: 240px 240px;
	background-repeat: no-repeat;
}

.box3 {
	background-image: url(images/shoes.jpg);
	background-size: 240px 240px;
	background-repeat: no-repeat;
}

h1 {
	text-align: center;
	text-decoration: underline;
	font-family: 'Brush Script MT', cursive;
	font-size: 66px;
	color: #000000;
}

h2 {
	font-size: 45px;
	font-family: 'Brush Script MT', cursive;
	color: #000000;
	text-decoration: underline;
}

h3 { 
	position: absolute;
	margin-top: 30px;
}	

.price {
	position: absolute;
	margin-top: 60px;
}

a {
	position: absolute;
	margin-top: 160px;
	text-decoration: none;
}

.description {
	position: flex;
	width: 240px;
	height: 160px;
	text-align: center;
	opacity: 0;
	line-height: 180px;
	color: #000000;
	font-size: 30px;
}

.purch {
	position: flex;
	margin-top: 10px;
	color: white; 
	font: bold 24px/45px Helvetica, Sans-Serif; 
	letter-spacing: -1px;  
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 0px 5px 0px 5px;
}

.description:hover {
	opacity: 1;
}

.reduce {
	opacity: 0.5;
}

.tbg {
	background-color: #8e7f7f;
	background-size: 75px 200px;
	opacity: 0;
}

.tbg:hover {
	opacity: .75;
}

span {
	color: white; 
	font: bold 24px/45px Helvetica, Sans-Serif; 
	letter-spacing: -1px;  
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 0px 5px 0px 5px; 
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

body {
	background: linear-gradient(to right, #b6c8b6, #34324c);
}