//colors
$black: #000000;
$white: white;
$black_70: rgba(0, 0, 0, 0.7);
$color_shamrock_approx: #3ae99d;
$black_50: rgba(0,0,0,0.5);
$color_clay_ash_approx: #b6c8b6;
$color_martinique_approx: #34324c;

//fonts
$font_0: Brush Script MT;
$font_1: cursive;
$font_2: Helvetica;
$font_3: Sans-Serif;
$font_4: fantasy;

//urls
$url_0: url(images/fitbit.jpeg);
$url_1: url(images/watch.jpg);
$url_2: url(images/shoes.jpg);

.wrapper {
	display: flex;
	flex-flow: row wrap;
}
.box {
	flex: 1;
	height: 240px;
	max-width: 260px;
	min-width: 220px;
	border: solid $black 2px;
	background-size: 240px 240px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 5px 10px;
	position: relative;
	flex-basis: 240px;
	z-index: 0;
}
.box1 {
	background-image: $url_0;
}
.box2 {
	background-image: $url_1;
}
.box3 {
	background-image: $url_2;
}
h1 {
	text-align: center;
	text-decoration: underline;
	font-family: $font_0, $font_1;
	font-size: 66px;
	color: $black;
}
h2 {
	font-size: 45px;
	font-family: $font_0, $font_1;
	color: $black;
	text-decoration: underline;
	margin-left: 20px;
}
.title {
	display: inline-block;
	top: 0;
	color: $white;
	font: bold 24px/45px $font_2, $font_3;
	letter-spacing: -1px;
	background: $black;
	background: $black_70;
	padding: 0 5px;
	margin: 0;
}
.price {
	position: absolute;
	top: 0;
	right: 0;
	font-family: $font_4;
	font-size: 24px;
	background-color: $color_shamrock_approx;
	padding: 3px 10px 2px;
	border-left: 2px solid $black;
	border-bottom: 2px solid $black;
	//Instead of the line below you could use @include border-bottom-left-radius($radius)
	border-bottom-left-radius: 25px;
	margin: 0;
}
.link {
	display: inline-block;
	bottom: 0;
	text-decoration: none;
	color: $white;
}
.description {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	padding: 50px 15px;
	color: $white;
	background-color: $black_50;
	z-index: -1;
	&:hover {
		opacity: 1;
	}
}
.purch {
	display: inline-block;
	position: absolute;
	margin-right: 2px;
	right: 20px;
}
.reduce {
	opacity: 0.5;
}
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: $white;
	font: bold 24px/45px $font_2, $font_3;
	letter-spacing: -1px;
	background: $black_70;
	padding: 0 5px;
}
.checkbox {
	position: relative;
	bottom: 3px;
	right: -10px;
}
p {
	margin: 0;
}
body {
	background: linear-gradient(to right, $color_clay_ash_approx, $color_martinique_approx);
}
input[type=text] {
	border: 2px solid $black;
}